---
bg: "dcHouses.jpg"
layout: default
crawlertitle: "DC Tech Stories"
title: "DC Tech Stories"
summary: ""
---
<small>Listen on the following platforms:
	<a href="https://play.google.com/music/m/Idezcondrndeyupir7fzpi3hbvi?t=DC_Tech_Stories">Google Play</a>
	<a href="https://www.apple.com/itunes/">iTunes( coming soon!! )</a>
	<a href="https://www.buzzsprout.com/108546.rss">RSS</a>
</small>
<br>
<h2>Episodes</h2>
{% for post in site.posts %}
  {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
  {% if year == "2017" %}
  <article class="index-page">
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    {{ post.excerpt }}
  </article>
  {% endif %}
{% endfor %}
