---
bg: "dcHouses.jpg"
layout: default
crawlertitle: "DC Tech Stories"
title: "DC Tech Stories"
summary: ""
---
<small>Listen on the following platforms:
	<a href="https://play.google.com/music/m/Idezcondrndeyupir7fzpi3hbvi?t=DC_Tech_Stories">Google Play</a> 
	<a href="https://itunes.apple.com/us/podcast/dc-tech-stories/id1255302980">iTunes</a> 
	<a href="https://open.spotify.com/show/6ZUNhg0vTg2CWhWZccDNl4">Spotify</a>
	<a href="http://www.digitalpodcast.com/feeds/75501-dc-tech-stories">Digital Podcast</a> 
	<a href="http://www.stitcher.com/podcast/dc-tech-stories">Stitcher</a> 
	<a href="https://www.shiftyjelly.com/pocketcasts/">Pocket Casts</a> 
	<a href="https://www.buzzsprout.com/108546.rss">RSS</a> 
</small>
<br>
<h2>DC Tech Stories Season 2 Sponsored by Optoro!</h2>
<div style="width: 50%; margin: 0 auto;" >
  <img src="assets/images/optoro-logo.png" style="width: 100%;"/>
</div>
<p>A giant thank you to <a href="https://www.optoro.com/" target="_blank">Optoro</a> for sponsoring the WHOLE Season 2 of DC Tech Stories. Optoro offers a superior end-to-end reverse logistics solution that helps retailers and brands manage, process and disposition returned and excess inventory, from first touch. Visit their website for careers, services, and stories! THANK YOU OPTORO! </p>

<h2>Season 2</h2>
{% for post in site.posts %}
  {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
  {% if year == "2018" %}
  <article class="index-page">
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    {{ post.excerpt }}
  </article>
  {% endif %}
{% endfor %}

<h2>Season 1</h2>
{% for post in site.posts %}
  {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
  {% if year == "2017" %}
  <article class="index-page">
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    {{ post.excerpt }}
  </article>
  {% endif %}
{% endfor %}
